
*{ margin:0px; padding:0px;}
.clear{ clear:both}
img{ border:none; outline:none medium;}
a{ text-decoration:none; color:#0099CC;}
a:hover{ text-decoration:underline; color:#0099CC;}
.fleft { float:left; display:inline;}
.fright { float:right; display:inline;}

.buttonSet { display:block; overflow:hidden; padding:10px 0;  width:565px; margin:0 auto;}
.inputButton  { float:left; display:inline; margin-right:10px;}
.inputButton a { font-size:13px; background:#79a72f; -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; padding:3px 10px; color:#ffffff; font-weight:bold; display:inline-block; border:#6b9724 solid 1px;    }
.inputButton a:hover { text-decoration:none; background:#6b9724;}

h1, h2, h3, h4, h5, h6, form, ul, li, p{ padding:0px; margin:0px;}
body {	font-family: Arial, Helvetica, sans-serif;	margin: 0px; background:#dfeef5 url(../images/body-bg.jpg) repeat-x top center; font-size:14px;}
#men{ margin:0px auto; padding:0px; width:999px;}
.header-top{ margin:0px; width:999px; height:124px;}
.header{ margin:0px; width:999px; height:85px;}
.logo{ margin:5px 0px; width:152px; height:59px; float:left; }
.header-right{margin:35px 0px 0px; width:440px; height:39px; float:right;}
#search_box {height: 24px; margin:15px 0 0px; width:300px;	}
.login{ font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#333333; float:left;line-height:32px; margin:0px; }
.login-input-bg { margin:0px 5px; float:left; width:142px; }
.input{ border:0px; background-color:transparent; width:124px; padding: 8px 10px; color:#999999; background: url(../images/input-bg.png) no-repeat left top;}
.login-input-bg2 { margin:0px;float:left;  width:142px; }
.login-input-bg2 { width:132px;height:32px;padding:0 10px;}
.button {height:30px;width:84px; float:right;}

.line { background:#eee; height:1px; margin:6px 0;}   
.button .input_btn {background: url(../images/login_button.png) no-repeat  left top;height:30px;background-color:transparent;border:0px;width:84px;cursor:pointer;  }

.applyBtn {background: url(../images/apply.png) no-repeat  left top;height:30px; background-color:transparent;border:0px;width:84px;cursor:pointer; display:block; overflow:hidden; text-indent:-90000px; }	

.navi_bg {background: url(../images/navi_bg.gif) repeat-x top center;margin:0px;height:39px;width:997px; border-left:#dedede solid 1px; border-right:#dedede solid 1px;	clear: both;}
#navibar {margin: 0 0 0 5px;height:39px; }
#navibar ul {list-style:none;padding: 0px;margin:0 0 0 0px;display:inline;}
#navibar  li {float:left;	height:39px;}
#navibar ul li a {line-height:39px;	font-family:Arial, Helvetica, sans-serif;font-size:13px;font-weight:normal;color:#333333;text-decoration:none;padding:0 16px 0 16px;height:39px;}
#navibar ul li a:hover {color:#000000;text-decoration:none;}
.canten{ margin:5px 0px ; width:999px;clear:both; }
.panel-left{ margin:5px 0px; width:580px; float:left; }
.panel-left h1{ margin:20px 10px 0px;font-family:Arial, Helvetica, sans-serif;font-size:32px;font-weight:normal;color:#000000;}
.panel-left h2{margin:0 10px; font-family:Arial, Helvetica, sans-serif; font-size:32px; font-weight:normal; color:#60aace;}
.panel-left p{margin:5px 10px; font-family:Arial, Helvetica, sans-serif;font-size:15px;font-weight:normal;color:#424344;}
.image{ margin:0px 0 5px 15px;width:531px; height:197px;clear:both;}
.recruiters-btn{ margin:10px 25px 10px 0px; float:left;width:250px; height:66px;}
.panel-right{margin:5px 0px; width:385px; float:right; height:474px; background:url(../images/sign-bg.png) no-repeat top center;padding:0 16px;}
.panel-right h1{margin:30px 50px 10px; font-family:Arial, Helvetica, sans-serif; font-size:26px; font-weight:normal;color:#0772a6; }
.required { margin:0px 5px 0 0px; text-align:right; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333333;font-weight:normal;}

.accont-search{width:208px; height:24px; margin:0px 10px;}
.input3 {background:#fff;border:#b7ceff solid 1px;padding:0px 7px;color:#333333;width:203px; font-size:12px;height:24px;margin:0px;line-height:24px;}
.input4 {background:#fff;border:#b7ceff solid 1px;padding:0px;color:#333333; width:70px;font-size:12px; height:24px; margin:0px; line-height:24px;}
.input5 {background:#fff;border:#b7ceff solid 1px;padding:0px;color:#333333; width:60px;font-size:12px; height:24px; margin:0px; line-height:24px;}
.box{ margin:0px; width:492px;float:left;}
.box-right{ margin:0px;width:492px;float:right;}
.box-top-R{ margin:0px; width:492px; height:45px; background:url(../images/box-top-R.png) no-repeat top center;}
.box-bg{ margin:0px; width:492px; background:url(../images/box-bg.png) repeat-y top center; clear:both;}
.lattest{ margin:15px 20px 0px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#FFFFFF;} 
.view{  margin:15px 20px 0px; float:right; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#FFFFFF; } 
.view a{  font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#FFFFFF; text-decoration:underline; } 
.border-box{ margin:0px auto; border-top:#cccccc solid 1px; padding:8px 0px 0; width:478px;  }
.border-right{ margin:0px auto; border-top:#cccccc solid 1px; padding:8px 0px 12px; width:475px;  }
.image-box { float:left; margin:0px 10px; width:67px; height:66px; padding:5px 0px 0 7px; background:url(../images/image-shadow.png) no-repeat top center; }
.tex-box{ float:left; margin:0px 5px 10px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#034261; width:365px;}
.tex-box a{ margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px;  width:365px; text-decoration:none;}
.tex-box a:hover{ color:#333333;  text-decoration:underline;}
.tex-box span{  margin:0px; padding-right:10px;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e3f3f;}
.news-img{ float:left; margin:20px 15px; width:60px; height:45px; padding:0px; }
.news-tex {float:left; margin:20px 5px 10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#2f2f2f; width:365px;}
.news-tex p{margin:0px 0 5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1e82b3; font-weight:normal; }
.news-tex p a{margin:0px 0 5px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1e82b3; font-weight:normal; text-decoration:none; }
.news-tex span{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1e82b3; font-weight:bold;}
.box-bottom-R{ margin:0px; width:492px; height:14px; background:url(../images/box-bottom-R.png) no-repeat top center; clear:both;}

#footer{ margin:0px; background:url(../images/footer-bg.jpg) repeat-x top center; width:100%; clear:both; height:110px;}
#footer-box{ margin:0px auto; width:999px;}
.footer-link {	margin: 15px 0 0 10px;		width:557px; float:left;}
.footer-link  ul {	list-style:none;	padding: 0px;	margin:0 0 0 0px;	display: inline;}
.footer-link   li {	float:left;	 color:#0469a2; font-size:12px; line-height:20px;}
.footer-link  ul li a {	line-height:20px;	font-family:Arial, Helvetica, sans-serif;	font-size:12px;	font-weight:bold;	color:#0469a2;	text-decoration:none;	
padding: 0 8px;	}
.footer-link  ul li a:hover {	color:#000000;	text-decoration:none;}
.copyright{ line-height:50px;	font-family:Arial, Helvetica, sans-serif;	font-size:11px;	font-weight:normal;	color:#aca5a5; padding: 0 8px; clear:both;	}
.footer-logo{ margin:20px 10px; float:right; width:200px; height:46px;}



/*------------------add-new css---------------------*/
.center_in{ border:#e0e0e1 1px solid; background:#FFFFFF; padding:34px 20px 0; margin-bottom: 11px;  }
.center_left{ width:600px; height:auto; float:left; padding-right:20px; background:url(../images/divider_bg.gif) right top no-repeat;   }
.center_left h1{ color:#74ac26; font-size:36px; font-weight:normal; padding-bottom:30px;}
.center_left h2{ color:#060606; font-size:20px; font-weight:normal; padding-bottom:20px;}
.center_left p{ color:#585959; font-size:14px; font-weight:normal; padding-bottom:15px; line-height:25px;}
.cont_but{ background:url(../images/contact_butt.gif) no-repeat left top; width:125px; height:30px; color:#819f6e; font-weight:normal; display:block; text-decoration:none;
 outline:none;padding-top:13px;padding-left: 47px; }
 
 
.center_right{ width:302px; height:auto; float:left; padding-left:20px;}

.latest{ width:294px; border:#dbdbdd 1px solid; margin-bottom:15px; }
.latest_top{ background:url(../images/latest_bg.gif)  repeat-x ; height:43px;border-left:#FFFFFF 1px solid;border-right:#ffff 1px solid;}
.latest_top h2{ color:#036ea2; font-size:20px; font-weight:bold; padding-top:8px; padding-left:8px; float:left;}
.latest_v { float:right; color:#036ea2; display:block; font-size:13px; margin:10px; text-decoration:underline;}
.latest_v:hover{ text-decoration:none;}

.news_di{ border-bottom: 1px dashed #cccccc;padding:10px 5px;}
.bor_nonecl{ border:none;}
.news_di img{ padding:3px; border:#cdcdcf solid 1px; margin-right:8px;}
.news_di p{ color:#1e82b3; font-size:12px; line-height:normal;}
.news_di span{ color:#000000; font-size:12px; line-height:normal; display:block; margin-top:5px;}



.social{ width:294px; border:#dbdbdd 1px solid; }
.social_top{ background:#FFFFFF; height:43px;border-left:#FFFFFF 1px solid;border-right:#ffff 1px solid;}
.social_top h2{ color:#404040; font-size:20px; font-weight:bold; padding-top:8px; padding-left:8px; float:left;}
.social_di{ border-top: 1px solid #eeeeef;padding:10px 5px; background:#f6f6f6;}
.social_di a{ padding:0px 18px;}
.sub_cl{ color:#007fbd; font-size:12px; line-height:normal; display:block; background:#ebebeb ; padding:5px 5px; text-align:right;}



.form_area{ width:580px;}

div.row { display:block; overflow:hidden; width:auto; margin-bottom:16px; clear:both; padding-top:20px;}
div.row .label_cl{ float:left; width:72px; text-align:right; color:#585757; font-size:13px; margin-right:19px; padding-top:5px;}
div.row .input_cl{ float:left; width:360px;  color:#585757; font-size:13px; background:url(../images/input_box.png) no-repeat left top;border: none 0px; padding: 9px;font-family:Arial, Helvetica, sans-serif; }
div.row .textarea_cl{ float:left; width:440px;  color:#585757; font-size:13px; background:url(../images/messages_box.png) no-repeat left top;border: none 0px; padding: 9px;
height:135px; font-family:Arial, Helvetica, sans-serif; padding: 9px 9px 10px 9px; }
.space_lcl{ margin-left:92px;}


div.contact_box{ margin-bottom:50px;}
div.contact_box h2{ color:#080707; font-size:16px; font-weight:bold;}
div.contact_box p{ margin-bottom:25px; font-size:16px; color:#716e6e; line-height:normal;}



.select_area{ border-bottom:7px #ececee solid; padding-bottom:20px;}

.select_1cl{ background:url(../images/select_1.gif)  no-repeat left top; float:left; display:block; width:57px ; margin-right:12px; padding:8px 10px 8px 35px; font-weight:bold; color:#FFFFFF;}
.select_1clact{ background:url(../images/icons_1.gif)  no-repeat left top; float:left; display:block; width:57px ; margin-right:12px; padding:8px 10px 8px 35px; font-weight:bold; color:#676565;}


.select_2cl{ background:url(../images/icons_2.gif)  no-repeat left top; float:left; display:block; width:198px; margin-right:12px; padding:7px 10px 8px 0px; font-weight:bold; color:#676565; text-align:right;}
.select_2clact{ background:url(../images/select_2.gif)  no-repeat left top; float:left; display:block; width:198px ; margin-right:12px; padding:9px 10px 8px 0px; font-weight:bold; color:#FFFFFF; text-align:right;}



.select_3cl{ background:url(../images/icons_3.gif)  no-repeat left top; float:left; display:block; width:383px ; margin-right:12px; padding:9px 10px 8px 0px; font-weight:bold; color:#676565; text-align:right;}
.select_3clact{ background:url(../images/select_3.gif)  no-repeat left top; float:left; display:block; width:383px; margin-right:12px; padding:10px 10px 8px 0px; font-weight:bold; color:#FFFFFF; text-align:right;}

.select_4cl{ background:url(../images/icons_4.gif)  no-repeat left top; float:left; display:block; width:183px ;  padding:8px 10px 8px 0px; font-weight:bold; color:#676565; text-align:right;}
.select_4clact{ background:url(../images/select_4.gif)  no-repeat left top; float:left; display:block; width:188px ;  padding:9px 10px 8px 0px; font-weight:bold; color:#FFFFFF; text-align:right;}



.select_11cl{ background:url(../images/icons_1.gif)  no-repeat left top; float:left; display:block; width:156px ; margin-right:12px; padding:8px 10px 8px 35px; font-weight:bold;color:#676565; }
.select_11clact{ background:url(../images/select_11.gif)  no-repeat left top; float:left; display:block; width:156px ; margin-right:12px; padding:8px 10px 8px 35px; font-weight:bold;color:#FFFFFF; }


.select_22cl{ background:url(../images/icons_2.gif)  no-repeat left top; float:left; display:block; width:200px; margin-right:12px; padding:7px 10px 8px 0px; font-weight:bold; color:#676565; text-align:right;}
.select_22clact{ background:url(../images/select_2.gif)  no-repeat left top; float:left; display:block; width:200px ; margin-right:12px; padding:9px 10px 8px 0px; font-weight:bold; color:#FFFFFF; text-align:right;}

.select_33cl{ background:url(../images/icons_3.gif)  no-repeat left top; float:left; display:block; width:246px ; margin-right:12px; padding:9px 10px 8px 0px; font-weight:bold; color:#676565; text-align:right;}
.select_33clact{ background:url(../images/select_33.gif)  no-repeat left top; float:left; display:block; width:246px; margin-right:12px; padding:10px 10px 8px 0px; font-weight:bold; color:#FFFFFF; text-align:right;}

.select_44cl{ background:url(../images/icons_4.gif)  no-repeat left top; float:left; display:block; width:229px ;  padding:8px 10px 8px 0px; font-weight:bold; color:#676565; text-align:right;}
.select_44clact{ background:url(../images/select_44.gif)  no-repeat left top; float:left; display:block; width:229px ;  padding:9px 10px 8px 0px; font-weight:bold; color:#FFFFFF; text-align:right;}




.sign_cl{ width:auto; height:auto; margin-top:40px; padding-left:86px;}
.space_mn{ margin:0px;}
.sign_cl.space_mn { padding:0; }
.sign_cl h1{ font-size:36px; color:#74AC26; padding-bottom:30px; font-weight:normal;}
.sign_cl h1 span{ font-size:36px; color:#c0c0c0; padding-bottom:30px; font-weight:normal;}

.form_area2{}
div.row2 { display:block;width:auto; margin-bottom:16px;}
div.row2 .label_cl2{ float:left; width:210px; text-align:right; color:#585757; font-size:13px; margin-right:19px; padding-top:5px;}
div.row2 .input_cl2{ float:left; width:360px;  color:#585757; font-size:13px; background:url(../images/input_box.png) no-repeat left top;border: none; line-height:30px; padding:10px 9px; font-family:Arial, Helvetica, sans-serif; }
div.row2 .textarea_cl2{ float:left; width:440px;  color:#585757; font-size:13px; background:url(../images/messages_box.png) no-repeat left top;border: none 0px; padding: 9px;
height:135px; font-family:Arial, Helvetica, sans-serif; padding: 9px 9px 10px 9px; }
.con_cl{  color: #585757;float: left;font-size: 13px;padding-top:2px; display:block;}
.space_lc2{  padding-left:479px;}
.space_lc4{ margin-left:233px;}
.space_lc3{  padding-left:2px;}


div.row2 .select_cl2{  float:left; width:378px;  color:#585757; font-size:13px; background:url(../images/input_box.png) no-repeat left top;border: none; line-height:30px; padding:9px 9px; font-family:Arial, Helvetica, sans-serif; }
div.row2 .attach{ float:left; width:275px;  color:#585757; font-size:13px; background:url(../images/attach_inbox.gif) no-repeat left top;border: none 0px; padding:9px;font-family:Arial, Helvetica, sans-serif; }
div.row2 .currency{ float:left; width:89px;  color:#585757; font-size:13px; background:url(../images/currency.gif) no-repeat left top;border: none 0px; padding:8px 3px 9px 3px;font-family:Arial, Helvetica, sans-serif; }
div.row2 .currency1{ float:left; width:72px;  color:#585757; font-size:13px; background:url(../images/currency.gif) no-repeat left top;border: none 0px; padding:9px;font-family:Arial, Helvetica, sans-serif; margin-left:3px; }

div.row2 .textarea_cl2{ float:left; width:440px;  color:#585757; font-size:13px; background:url(../images/messages_box.png) no-repeat left top;border: none 0px; padding: 9px;
height:135px; font-family:Arial, Helvetica, sans-serif; padding: 9px 9px 10px 9px; }


.border_cl2{ border-bottom:#ececee 2px solid; margin-top:35px; }

.post_cl{ margin:0px; padding:0px; width:634px;}
.post_cl h1{color:#74AC26;font-size: 36px;font-weight:normal; padding-bottom:10px; }
.post_cl h1 span{color:#000000;font-size: 36px;font-weight:normal; padding-bottom:10px; }
.post_cl p{ font-size:16px; color:#000000; display:block; padding-left:10px; }
.pos_bucl{ padding-bottom:40px; padding-top:40px;}

.border_cl2{border-top:#CCCCCC 1px dashed ; border-bottom:dashed #CCCCCC 1px; height:30px;}
.border_cl3{border-bottom:#CCCCCC 2px dashed ; border-bottom:dashed #CCCCCC 1px;}



.font_20{ color:#74AC26; font-size:22px; height:50px; }
.edit_pcl{ padding:10px 15px;}
.font-12{ font-size:14px; color:#666666; padding:5px 5px 5px 0px;}
.col_bor { background:#fcf2cd; border-left:#d7d6d6 1px dashed; height:50px; width:200px; padding:5px;}


.browseInput { position: relative;  float:left; width:377px;}
.browseInput .browsFile {  width:370px; height:30px; display:block; position:absolute; z-index:100; top:0px; left:auto; right:0px; opacity:0; filter:alpha(opacity=0))}

#edit_abount {height:153px !important; width:315px !important; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; line-height:16px; padding:8px 10px;}
.buttonSet { clear:both; padding-top:10px;}
.error_msg{ color:#FF0000; background:#FCE8E8; padding:8px 15px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:solid 1px #EFA2A2; font-size:11px; float:left; display:inline; margin-left:10px; }
.error { font-size:11px; padding:2px 3px; color:#ff0000; margin-left:7px;}

.listOfTable { padding:0; margin-top:10px;}

.listOfTable .even td, .listOfTable .odd  td{ vertical-align:top; padding:5px 0; border-bottom:solid 1px #D7EBF4}
.listOfTable .even td { background:#E6F2F7;}
.listOfTable th { background:#60AACD; font-size:13px; font-weight:normal; color:#ffffff; text-align:left; padding:5px 0 5px 3px} 

.listOfTable .conf { display:none; padding:10px; background:#F1FAFF; overflow:hidden;} 
.listOfTable .conf.delt { background:#F7DAD9;}
.listOfTable .confirm-text { float:left; padding:5px;}
.listOfTable .confBtnSet { float:left; display:inline;}
.listOfTable .confBtnSet input { background:#BBE4F7; border:solid 1px #60AACE; padding:1px 8px; -moz-border-radius:5px; -webkit-border-radius:5px;  border-radius:5px; color:#000000; cursor:pointer;}
.noresultfound{color: #676565;font-weight: bold; padding:10px; padding-left:45% }
.okmsg{ background:#D1ECCE; border:#87DE8D;  padding:8px 15px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:solid 1px #EFA2A2; font-size:11px; float:left; display:inline; margin-left:10px; }







.jobTitle { width:; padding:15px; margin:15px; border:solid 1px #ddd; }
.jobTitle p { color:#444;}
.postTable { width:445px; margin:0 auto 20px auto; color:#666666; }
.postTable .date { font-size:12px;}
.postTable .budget { font-size:15px; border:solid 1px #eee; padding:5px 10px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
 form.message { margin:0px 0 0 20px; }
.textPost { width:430px; height:190px; border:1px solid #B7CEFF; padding:5px 10px; font-size:13px; line-height:19px; font-family:Arial, Helvetica, sans-serif; mar }
.postTitle { font-size:16px; color:#666; padding-top:15px; padding-left:20px; padding-bottom:5px; }

.dateListTabe { font-size:13px; margin-top:13px;}
.dateListTabe td { padding-left:15px; padding-bottom:10px;}
.dateListTabe td select { width:80px; padding:3px; border:1px solid #B7CEFF;}
.dateListTabe td input {background:#fff; border:#b7ceff solid 1px; padding:0px 7px;color:#333333;width:160px; font-size:12px;height:24px;margin:0px;line-height:24px;}
.LogIn{ margin:7px 0 19px 111px;color: #444444;} 
.LogIn td { padding-top:10px}
.bid_cl{ border:1px solid #E0E0E1; padding-top:10px; background:#ffffff; padding-bottom:10px;}

.pagination { margin:10px 0; display:block;}
.pagination span { color:#666; font-size:11px;}
.pagination span a { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:solid 1px #DBF5F9; padding:3px 5px; text-decoration:none;   }
.pagination span strong.current {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:solid 1px #ddd; padding:3px 5px; font-weight:normal; color:#333333; }

.heading1 h1, h1.heading1 {color: #74AC26; font-size: 36px; font-weight: normal;   }

.listTable td{ color:#333; font-size:12px;}

.listTable td .image-box { margin:0 10px 0 0;}
.listTable td sup{ font-size:13px;}






.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}


.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
}
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }

.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }




/*-------------new css 8-08-2011----------------------*/
.b-page-header { margin:0px; padding-bottom:30px; }

.b-page-header h1{color: #74AC26; font-size: 36px;  font-weight: normal; padding-bottom:15px;}
.b-subheader { font-size: 14px; line-height: 130%; color:#5f5a5a;}

.b-page-content { border-top: 1px solid #D7D7D7; padding-top:30px;}

.job-cat{color: #939393; font-size: 24px; padding-bottom:20px;}
.job-cat h2{color: #76ad27; font-size: 24px; font-weight:normal; float:left;}


.b-left-section {  padding-right:10px; float:left; width:630px; padding-bottom:20px;}
.category-section {padding-bottom:7px; padding-left: 0; width:210px; float:left; padding-top:18px;}
.category-title {  font-size: 15px;  margin-bottom:10px; color:#2a2a2a; font-weight:bold;}

.skill-item {margin:0px; padding:0px;}

.skill-item  ul{ list-style:none;}
.skill-item  ul li{ line-height:26px;}
.skill-item  ul li a{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#00468c; text-decoration:none; display:block; outline:none;}
.skill-item  ul li a:hover{ text-decoration:underline;}


.b-right-section {  border: 1px solid #D7D7D7; min-height: 20px; padding:15px 20px 15px 20px; float:right; width:260px; margin-bottom:20px;}
.b-right-heading{ color:#74ac26; padding-bottom:17px; font-size:20px ; font-weight:normal;}

.b-right-item {margin:0px; padding:0px;}

.b-right-item  ul{ list-style:none;}
.b-right-item  ul li{ line-height:26px;}
.b-right-item  ul li a{ font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#00468c; text-decoration:none; display:block; outline:none;}
.b-right-item  ul li a:hover{ text-decoration:underline;}
.b-right-item  ul li a span{  color: #939393;font-size: 12px; padding-left:2px; }

.b-all{ margin:10px 0px; padding:0px;}
.b-all a{ color:#6ca51d; text-decoration:none; font-size:12px;}
.b-all a:hover{ text-decoration:underline;}

.search-box{  background:url(../images/search-bg-img.gif) no-repeat right top;  width:354px; height:31px; margin:30px 0px 0px 0px; }
.input-search-box{  padding:2px 0px 2px 5px; font-size:16px; color:#888888; font-weight:normal; border:none; float:left; width:210px; margin:2px;height:20px; }

.search-img{ margin:0px; padding:1px 5px 0px; float:right;}
.search-but{ float:left;}


.search-display { height:auto; padding-left:240px; margin-bottom:10px; }
.search-title { color: #333333;display: inline; font-size: 24px;font-weight: normal; margin-right: 3px;}
.search-title span{   color: #939393; font-size: 14px;}

.search-left-sec { padding: 0;width: 225px; margin-bottom:20px; float:left; }
.fil-title{ font-size:14px; color:#000; margin:10px 0px 10px 10px;}
.filters {  border: 1px solid #D7D7D7; height:auto;}
.filterContent {  margin: 5px 0; padding-left: 12px;}
.filterToggle { cursor: pointer; font-weight: bold; line-height: 15px; padding:0px 0 0 15px; font-size:12px;color: #333333;background:url(../images/arow-down.gif) left 5px no-repeat ; margin-left:10px;}
.all{ font-size:13px;}
.filter-left-link{ margin:10px 10px;}
div.filter-left-link ul{ list-style:none;}
.filter-left-link ul li{ line-height:20px; background:url(../images/arrow-left.gif) no-repeat left 5px; padding-left:15px;}
.filter-left-link ul li a{ font-size:12px; color:#00468C; display:block; text-decoration:none;} 
.filter-left-link ul li a:hover{} 


.search-layout-right {argin-left: 15px;width: 700px; float:right; padding-bottom:20px;}
.search-header { background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent; border: 1px solid #CCCCCC; min-height: 20px; padding: 5px;}
.search-header-left {  float: left;padding-left: 3px; padding-top: 3px;width:300px;   color: #939393; font-size:12px; }


.rss { background: url("../images/rss-icon.gif") no-repeat scroll 0 0 transparent; padding-bottom: 2px; padding-left: 21px;	margin-left:11px;color:#00468C;}

.search-header-right{ float:right; width:200px;}
.search-header-right span{color:#939393;font-size:12px;}
.sea-inp{ border:#e7e7e7 1px solid; width:140px; height:16px; color:#999999; font-size:12px; padding:2px 5px}

.appliedFiltersSection { margin-top: 15px; width: 100%;}
.filterChevron-r {  background-color: #EEEEEE; float:left; height: 24px; margin-bottom: 10px; min-width:117px;}
.filterChevron-l {  background-color: #EEEEEE; float:left; height: 24px; margin-bottom: 10px; min-width: 150px;}
.chevronLabel {   float: left; font-weight: bold; padding: 4px 2px 4px 10px; white-space: nowrap; font-size:12px;}
.chevronCancel { background:url(../images/search-sprite.png) no-repeat scroll 0 -189px transparent;cursor: pointer;display: block;float: left; height: 8px;margin: 8px 0 0 7px; width:8px;}

.chevronRight { border-bottom: 12px solid #FFFFFF; border-left: 12px solid #EEEEEE; border-top: 12px solid #FFFFFF; float: left;}
.chevronLeft {border-bottom: 12px solid #EEEEEE; border-left: 12px solid #FFFFFF; border-top: 12px solid #EEEEEE;   float: left;}
.save-cl{  font-size:12px; float:left ;padding-left: 25px; padding-top: 5px;}
.save-cl a{ color:#00468C; font-size:12px;}

.jobCard { margin: 5px 0 15px; min-height: 110px; padding: 10px 10px 5px;}
.jobCard p a{ font-size:20px; color:#08478d;}	
.jobCard p { font-size:13px; color:#000000; padding-bottom:10px; margin:0px;}
.jobCard p  span{  background: url("../images/sprite-controls.png") no-repeat scroll left top transparent; width:20px;}	
.jobCard p  span a{  background: url("../images/sprite-controls.png") no-repeat scroll left top transparent; width:20px; outline:none;}	

.stats {    margin-top: 10px; font-size:12px; padding-bottom:10px;}
.prof {  margin: 10px 0;}
.prof span { color:#999999;}

.jobTitle-c { margin: 0px; }
.job-title { color: #333333;display: inline; font-size: 24px;font-weight: normal; margin-right: 3px; }
.job-title span a{   color: #888888;font-family: Arial,Helvetica,sans-serif; font-size: 12px; height: 20px; line-height: 20px; margin: 3px 0 3px 7px; padding-left: 23px;
padding-top:10px; width: auto; background:url(../images/spr-watchlist-big.png) left 6px no-repeat; margin-left:20px;}
.job-title span a:hover{  background:url(../images/spr-watchlist-hover.png) left 6px no-repeat; text-decoration:none;}
.job-cat {color: #5D5D5D; font-size: 14px; font-weight: normal; margin:10px 0px;}
.job-cat a {color: #5D5D5D; font-size: 14px; font-weight: normal; margin:10px 0px;}
.job-cat a:hover {color: #999999; text-decoration:none;}

.eol-layout-s3 { width: 550px; float:left; padding-bottom:20px;}
.jobdesc-bd { border: 1px solid #D7D7D7; height: 100%;  padding: 15px; position: relative;}

.job-details{ width:259px; float:left;}
.job-details ul{ list-style:none ;}
.job-details ul li{ line-height:33px; font-size:12px ;}
.job-details ul li span{ padding-top:7px; float:left; padding-right:10px;}

.jobDetailsDivider { background-color: #FFFFFF; border-bottom: 1px dotted #C1C1C1; height: 20px;}

.buyerInfo-content {  background-color: #F0F0F0;  float: left;height: 58px;  padding: 10px 10px;width: 498px;margin-top:10px;}
.left { float: left;}
.buyerInfoDesc {float: left;margin: 0 10px;}

.jobDescText { font-size: 14px; padding-bottom:10px; color:#333333;}
.spacer{ margin-bottom:15px;}

.eol-layout-s2 {  width: 360px; float:right;}

.submit-pro { background: url(../images/bid_container_bg.gif) repeat-x scroll 0 0 transparent;border: 1px solid #D7D7D7; margin-bottom: 20px; padding: 20px;}

.bidHeadline { font-size: 23px; margin-bottom: 25px; font-weight:bold;}
.sum-but{ float:left;margin-left:97px; margin-top:10px;}


.p-menu { padding-right: 0; width: 180px; margin-bottom:20px; float:left;}
.profileImg { width:auto; height:auto; margin-left:25px;}
.profileImg  img{ width:auto; height:auto; border:#CCCCCC 1px solid;}

.nav-left { margin-top: 20px; margin-left:20px; margin-bottom:10px; }

.nav-left ul{ margin:0px; padding:0px; list-style:none;}
.nav-left ul li{ line-height:30px;}
.nav-left ul li a{ color:#333333; font-size:13px; text-decoration:none; display:block;}
.nav-left ul li a:hover{ color:#000000 ; text-decoration:none;  }

.like-section { border-top: 1px dotted #D7D7D7; padding-top:15px; font-size:12px;}

.watchlist-btn a { background: url(../images/spr-watchlist-big.png) no-repeat scroll 0 0 transparent;cursor: pointer;display: inline-block; height:20px;padding-left:27px;}

.watchlist-btn a:hover { background: url(../images/spr-watchlist-hover.png) no-repeat scroll 0 0 transparent; }

.share-sec{ margin:10px 0px 0px 0px; padding:0px;}
.share-sec img{ padding-right:15px;}


















.p-content { border-left: 1px solid #D7D7D7;padding-right:25; width: 725px; float:right; padding-left:20px; margin-bottom:20px;}
.p-hd {border-bottom: 1px dotted #D7D7D7; min-height: 100px; padding: 5px 0 15px 15px; position: relative; width: auto;}

.p-layout-x3 { float: left; padding-right: 20px; width: 440px;}

.p-layout-x3 h1{ font-size:30px; font-weight:normal; color:#79af2b; margin-bottom:10px; }
.p-summary-tagline {font-family: Arial, Helvetica, sans-serif; font-size: 14px;
}
.p-summary-location {  bottom: 15px;margin:10px 0px;font-size:13px;}
.midgrey {  color: #939393;}

.contact-job-but{ float:right; width:200px; margin-right:23px; margin-top:23px;}

.job-sec{ width:auto; height:auto; margin: 10px 0px ; padding:0px;}

.p-header { color: #79af2b;font-family: Arial, Helvetica, sans-serif; font-weight: normal; line-height: 24px; margin-bottom: 15px;font-size:25px;}

.all-cat { background:url(../images/arrow_1.gif) no-repeat scroll right center transparent; display: block; margin-right: 25px; padding-right: 10px;width:auto;float:left;}
.all-cat-r {  background:url(../images/arrow_1.gif) no-repeat scroll right center transparent; display: block; margin-right: 20px; padding-right: 10px;	width:auto;float:left;}


.snapshot-bar-12mo-c { background-color: #EDF8FE; height: 90px; margin-top: 20px; padding: 10px 0;margin-bottom:20px;}

.snapshot-bar-item-separator { border-left: 1px dotted #CCCCCC;	width:134px;float:left;	height:80px;margin-right:10px;}
.snapshot-bar-label { font-size: 12px; line-height:20px; margin-left:14px;}


.snapshot-bar-item-separator-left { width:134px;float:left;	height:80px;margin-right:10px;}
.snapshot-bar-item-separator-left img { margin-top:20px; margin-left:47px;}

.right-sec { float: right; width:115px;}
.sort{ float:left;}

.noresults { background-color: #F5F5F5; border-bottom: 1px solid #D7D7D7;line-height: 24px;margin-bottom: 15px; padding: 5px 10px;height:28px;margin:10px 0px;}

.right{ float:right;}
.search-sec{ background:url(../images/search-sec.gif) no-repeat left top; width:298px; height:28px;margin-top: 2px;}
.search-input{ width:210px; height:20px; margin:2px 2px; border:0px none; font-size:13px; color:#999999; padding:0px 5px ; float:left;}
.search-search { float:left; padding-top:1px;}

.experience {padding: 10px 0;}
.jobname { font-size: 14px;font-weight: bold;padding-bottom: 10px;}

.feedback_details {float: right;width:458px;}
.feedback_details p { font-size:13px; padding-bottom:10px;}
.user_name {  font-size:12px;}
.jobdetails { height: 11px; padding: 5px 0 15px;}
.clickable {color: #00468C;cursor: pointer;background:url(../images/arrow_1.gif) no-repeat scroll right center transparent;display: block; 
padding-right: 10px;width:74px;float:left;}

.feedback_info { border-bottom: 1px dotted #D7D7D7; padding-bottom: 5px;}
.left-rated{ float:left; margin:5px 0px; width:250px;}
.feedback1of2 {width:123ppx;float:left;margin-right:10px;}
.feedback1of1 { width:123ppx;float:left;margin-right:10px; margin-top:2px;}
.left-rat1{ display:block; margin-bottom:5px;}



/*---------------------------css-menu-----------------------*/

#treeMenu {   font:normal 14px Arial, sans-serif; }
#treeMenu h2 { font:bold 13px 'Segoe UI', Helvetica, Arial, sans-serif; color:#08478D; margin-bottom:4px; padding-left:10px;}
#treeMenu ul { list-style:none;}
#treeMenu ul li {overflow:hidden;  border:solid 1px #fff; margin:4px 0; -moz-border-radius:3px;  -webkit-border-radius:3px;  border-radius:3px;}
#treeMenu ul li span { display:inline-block; float:left; width:30px; height:30px; background:url(../images/treeSplit.png) no-repeat 100% 0;  cursor:pointer;}
#treeMenu ul li a { color:#00468C; font-size:13px; padding:5px 10px; display:inline-block;  text-decoration:none; width:auto; float:left; margin-top:4px;}
#treeMenu ul li span.opened { background-position:100% -61px;}

#treeMenu ul li div { clear:both; height:auto; }
#treeMenu ul li li { background:none; border:0; margin:0; padding-left:10px; border-bottom:solid 1px #fff;  border-top:solid 1px #dfdfdf; clear:both;}
#treeMenu ul li li a { color:#00468C; font-size:12px; padding:5px 0; float:left;  width:auto; }
#treeMenu ul li li a:hover { text-decoration:underline; color:#333;}
#treeMenu ul li li span { float:left; display:inline; width:15px; height:20px;  background-position:-10px -263px; cursor:default; }
#treeMenu ul li li span.closed { background-position:-10px -131px; cursor:pointer;}
#treeMenu ul li li span.closed.opened { background-position:-7px -197px; }

#treeMenu ul li li li { border:0;}
		
/*---------------------------end-----------------------*/
.text-area{ color: #666666; float: left; font-size: 14px; margin-right: 19px; padding-top: 5px; text-align: left; width: 210px; font-family:Arial, Helvetica, sans-serif;}
.text-area a{color:#74AC26;font-weight:bold; }


.bidCard-awarded {
    border: 1px solid #CCCCCC;
}
.bidCard-bd {
    padding: 10px;
}
.bidCard-icon {
    float: left;
    width: 60px;
}

.bidCard-summary {
    float: left;
    width: 425px;
}
.bidCard-title {
    font-size: 24px;
}
.bidCard-profIdentity {
    margin-top: 10px;
}
.bidCard-profDesc {
    margin-top: 10px;
}
.bidCard-skills {
    margin-top: 15px;
}


/*--------- messages detail page ----------*/

.messages-text{ font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#000000; line-height:40px;}
.displaying-text{ font-size:13px; float:right;}
.question-mark-img{ float:right; padding-top:12px; display:block;}
.messages-inner{ margin:0; padding:0;}
.messages-inner ul{ margin:0; padding:0;  list-style:none; background:#fcf9f9;}
.messages-inner ul li{ margin:0;  border-bottom:solid 1px #e0e0e1; }
.messages-inner ul li a{ font-size:14px; color:#000000; text-decoration:none; padding-left:14px;  line-height:35px; display:block;  }
.messages-inner ul li a:hover{ background-color:#f1f1f2; }
.messages-inner ul li a.activemessages{ background-color:#f1f1f2; line-height:35px; color:#3846b1;}

 .messages-inner ul li.bottom-border{ border:none;}

.select-all-main{ margin:0px; padding:0px; border:solid 1px #e0e0e1; }
.select-inner{ margin:0px; padding:10px; background-color:#f1f1f2;  border-bottom:solid 1px #e0e0e1;}

.selec-text{ margin:0px; padding:0px; float:left; line-height:20px; margin-right:10px;}
.all-text{ color:#0869c8;}
.delete-button{ margin-right:20px; padding:0px; border:none; float:left; outline:none; }
.employer-main{ margin:0px; padding:10px; background-color:#fcf9f9;  border-bottom:solid 1px #e0e0e1;}
 .employer-main.bottom-border{ border:none;}
.employer-id{ margin:0px; padding:0px; width:335px; float:left;}
.checkbox-enployer{ margin:0px; padding-top:4px; border:none; outline:none; float:left; margin-right:10px; }

.checkbox-enployer-text{ float:left;  font-size:12px; line-height:18px; }

.checkbox-date{ float:right;  font-size:12px; line-height:18px;}

.emp-text{ font-size:15px; font-weight:bold; line-height:25px;}
.emp-web{ font-size:14px; color:#0869c8;  line-height:25px; padding-bottom:10px;}
.emp-send{ font-size:14px;  line-height:25px;}

.emp-textarea{ margin:0px; padding:5px 10px; border:solid 1px #e0e0e1; width:652px; height:100px; font-size:12px;  line-height:18px;}
.atechfile{ margin:0px; padding-top:10px;}
.atechfile-text{ color:#0869c8; float:left;}
.send-button{ float:right;}
.employer-image{ float:left; margin-right:10px; width:46px;}

.employer-image-right{ float:left; width:600px;}
.refresh-text{ font-size:12px; color:#0869c8; float:right;}

.post-button{ float:left;}
.post-button-main{ margin:0px; padding-bottom:30px;}
/*--------- messages detail page close ----------*/
