/* CLASSIC SKIN */
*
	{
		outline: none;
		font-family: Verdana;
	}
a { color:#00CC66;}
body
	{
		padding: 0px;
		margin: 0px;
	}
	
form
	{
		padding: 0px;
		margin: 0px;
	}
	
#backgroundLvl1
	{
		 background: #F2FFE6;
	}
	
#backgroundLvl2
	{
		 background: #F2FFE6;
	}
	
#backgroundLvl3
	{
		  background: #C6DA9D;
	}
	
#backgroundLvl4
	{
		 background: #C6DA9D;
	}
	
#backgroundLvl5
	{
		 background: #EEEBE2;
		 border-bottom: 1px solid #C1C1C1;
	}
	
#backgroundLvl6
	{
		 background: #EEEBE2;
	}

#bigTitle
	{
		font-size: 20px;
		color: #00CC66; font-size:25px;	
	}
	
.classInput
	{
		border: 1px solid #F6720E;
		padding: 0px;
		margin: 0px;
		font-size: 12px;
		font-weight: bold;
	}
	
.loginText
	{
		color: white;
		font-weight: bold;
		font-size: 11px;
	}
	
.rightText
	{
		color: white;
		font-size: 10px;
	}
	
.languagePack:link
	{
		text-decoration: none;
		color: white;
	}
.languagePack:visited
	{
		text-decoration: none;
		color: white;
	}
.languagePack:hover
	{
		text-decoration: none;
		color: gray;
	}
.languagePack:active
	{
		text-decoration: none;
		color: white;
	}
	
#mainImg
	{
		border-bottom: 1px solid #C1C1C1;
	}

.rightTitle
	{
		font-weight: bold;
		font-size: 14px;
	}
	
.whyChooseUs
	{
		font-size: 11px;
		color: #5C5A5A;
	}
	
#ourServices
	{
		font-weight: bold;
		color: #5C5A5A;
		font-size: 11px;
	}
	
.digitalShowcase:link
	{
		text-decoration: none;
		font-size: 11px;
		color: #165C8F;
	}
.digitalShowcase:visited
	{
		text-decoration: none;
		font-size: 11px;
		color: #165C8F;
	}
.digitalShowcase:hover
	{
		text-decoration: none;
		font-size: 11px;
		color: #8B8B8B;
	}
.digitalShowcase:active
	{
		text-decoration: none;
		font-size: 11px;
		color: #165C8F;
	}
	
.digitalShowcaseSpecial:link
	{
		text-decoration: none;
		font-size: 11px;
		color: #EE7A1C;
	}
.digitalShowcaseSpecial:visited
	{
		text-decoration: none;
		font-size: 11px;
		color: #EE7A1C;
	}
.digitalShowcaseSpecial:hover
	{
		text-decoration: none;
		font-size: 11px;
		color: #8B8B8B;
	}
.digitalShowcaseSpecial:active
	{
		text-decoration: none;
		font-size: 11px;
		color: #EE7A1C;
	}
	
.specialTextRight
	{
		font-size: 12px;
		color: #165C8F;
	}
	
.basicText
	{
		color: #8C8C8C;
		font-size: 10px;
	}
	
.titleGray
	{
		color: #444242;
		font-weight: bold;
		font-size: 12px;
	}
	
.titleOrange
	{
		color: #FF9900;
		font-weight: bold;
		font-size: 12px;
	}
	
#statusReporting
	{
		color: gray;
		font-size: 11px;
		font-weight: bold;
	}
	
#logoLink:link, #logoLink:visited, #logoLink:hover, #logoLink:active
	{
		display: block;
		width: 163px;
		height: 69px;
		background: url(../images/logo.jpg) no-repeat;
	}
	
#dateConfig
	{
		font-size: 11px;
		font-weight:normal;
		color: black;
	}
	
.adminLinks:link
	{
		text-decoration: none;
		color: #00CC66;
		font-size: 10px;
		font-weight: bold;
	}
.adminLinks:visited
	{
		text-decoration: none;
		color: #00CC66;
		font-size: 10px;
		font-weight: bold;
	}
.adminLinks:hover
	{
		text-decoration: underline;
		 
		font-size: 10px;
		font-weight: bold;
	}
.adminLinks:active
	{
		text-decoration: none;
		color: white;
		font-size: 10px;
		font-weight: bold;
	}

.passwordFields
	{
		width: 120px;
		font-size: 10px;
	}
	
#changePassword
	{
		font-size: 10px
	}
	
.delimitersAccount
	{
		background: gray;
		height: 1px;
	}
	
.linkAccount:link
	{
		text-decoration: none;
		color: black;
	}
.linkAccount:visited
	{
		text-decoration: none;
		color: black;
	}
.linkAccount:hover
	{
		text-decoration: underline;
		color: gray;
	}
.linkAccount:active
	{
		text-decoration: none;
		color: black;
	}
.warning-message {
	background: url(img/warning.png) no-repeat;
	padding-left: 18px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	color: #F2A323;
	text-align: left;
}

.error-message{	
	background: url(img/error.png) no-repeat;
	padding-left: 18px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	color: #dd0000;
	text-align: left;
}
.success-message{
	background: url(img/success.png) no-repeat;
	padding-left: 18px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	color: #3CBC20;
	text-align: left;
}
.float-left{
	float: left;	
}
.float-right{
	float: right;	
}
.section-title{
	font-size: 16px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	padding-left: 24px;
	padding-top:20px;
	text-align: left;
}
.input-class{
	background: url(img/nv-button.png) repeat-x;
	height: 24px;	
}
.tr-even{
	background: #D3E0E9 url(img/actions.png) no-repeat;
	background-position: 0px -515px;
	cursor: pointer;
}
.tr-even:hover td { background:red !important;  }
.tr-even td{	
	color: #000;
	font-size: 12px;
	font-family: Verdana;
	text-align: center;
	height: 30px;
	vertical-align: middle;
}
.tr-even td.ie-background-fix{
	background: #D3E0E9;	
}
.tr-even td a.link{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: none;
	color: #E77817;
}
.tr-even td a.link:hover{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: underline;
	color: #E77817;
}
.tr-even td {vertical-align: top;
	padding:5px 0}
.tr-odd{
	background: #fff url(img/actions.png) no-repeat;
	background-position: 0px -515px;
	cursor: pointer;
}
.tr-odd td{	
	color: #000;
	font-size: 12px;
	font-family: Verdana;
	text-align: center;
	height: 30px;
	vertical-align: top;
	padding:5px 0;
}
.tr-odd td.ie-background-fix{
	background: none;	
}
.tr-odd td a.link{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: none;
	color: #0066FF;
}
.tr-odd td a.link:hover{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: underline;
	color: #0066FF;
}

.tr-hover{
	background: #F2A323 url(img/actions.png) no-repeat;
	background-position: -0px -457px;
}
.tr-hover td{
	color: #fff;	
	font-size: 12px;
	font-family: Verdana;
	text-align: center;
	vertical-align: middle;
}
.tr-hover td.ie-background-fix{
	background: #F2A323;	
}
.tr-hover td a.link{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.tr-hover td a.link:hover{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: underline;
	color: #fff;
}
.th-class{
	font-size: 14px;
	color: #fff;
		background-color: #C6DA9D;	
	height: 24px;
	vertical-align: middle;
}
.pageResults{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma;
	background-color: #E77817;
	padding: 3px 6px; 
	margin: 0px 2px;
	color: #fff;
	text-decoration: none;
}
.pageResults:hover{
	font-size: 11px;
	font-weight: bold;
	font-family: Tahoma;
	background-color: #5C5A5A;
	padding: 3px 6px; 
	margin: 0px 2px;
	color: #fff;
	text-decoration: underline;
}
.arrow-down{
	background: url(img/actions.png) no-repeat;
	background-position: -4px -95px;
	width: 13px;
	height: 20px;
	padding-left: 10px;
}
.arrow-up{	
	background: url(img/actions.png) no-repeat;
	background-position: -4px -126px;
	width: 13px;
	height: 20px;
	padding-left: 10px;
}
.href-link{
	font-size: 12px;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
	font-weight:normal;
}
.href-link:hover{
	font-size: 12px;
	 
	vertical-align: middle;
	text-decoration: underline;
}
.link-edit{
	background: url(img/actions.png) no-repeat;
	background-position: 1px -430px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	padding: 0px 7px;
}
.link-edit:hover{
	text-decoration: none;	
}
.suspend-edit{
	background: url(img/actions.png) no-repeat;
	background-position: 1px -497px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	padding: 0px 7px;
}
.suspend-edit:hover{
	text-decoration: none;	
}
.unsuspend-edit{
	background: url(img/error.png) no-repeat;
	width: 16px;
	height: 16px;
	text-decoration: none;
	padding: 0px 7px;
}
.unsuspend-edit:hover{
	text-decoration: none;	
}
.delete-edit{
	background: url(img/actions.png) no-repeat;
	background-position: 1px -161px;
	width: 20px;
	height: 20px;
	text-decoration: none;
	padding: 0px 7px;
}
.delete-edit:hover{
	text-decoration: none;	
}
.network-delete{	
	text-decoration: none;
	display: block;
	height: 100%;
}
.network-delete:hover{
	text-decoration: none;
	display: block;
	background: url('img/error.png') center no-repeat;	
}
.hide-slider{
	position: absolute;
	margin-top: -10000px;	
}
.users-slide{
	/*margin: 10px;*/
}
.action-input{
	background:#98AF67 url("../../images/login_bg.jpg");
    background-position: left top;
    background-repeat: repeat-x;
    border: 1px solid #64773E;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    margin: 6px 0;
    outline: medium none;
    text-align: center;
	padding:5px 10px;
	margin-right:10px;
}
.action-input-blue{
	background-color: #D3E0E9;
	padding: 2px;
	margin: 0px 10px;
	border: 1px solid #D3E0E9;
	cursor: pointer;
}
.confirm-text{
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;	
}
.link-blue{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: none;
	color: #0066FF;	
}
.link-blue:hover{
	font-size: 12px;
	font-family: Tahoma;
	text-align: center;
	text-decoration: underline;
	color: #0066FF;	
}
.header-title{
	font-size: 14px;
	font-weight: bold;
	padding: 15px;	
}
.field-title{
	font-size: 12px;
	font-weight: bold;
	text-align: center;	
}
.field-value-input{
	width: 90%;	
}

/*Profile*/
.profile_content_descr {
	float: left;
	margin-left: 10px;
	font-size: 14px;
	color: #293C42;
}

.profile_content_descr ul {
	list-style: none;
}

.profile_content_descr ul li {
	font-size: 14px;
	color: #293C42;
}

.profile_content_descr ul .title_profile_section {
	font-size: 20px;
	margin-top: 5px;
}

.profile_content_descr ul li a {
	font-size: 14px;
	color: #77BED2;
	text-decoration: none;
}

.profile_content_descr ul li a:hover {
	text-decoration: underline;
}

.profile_content_descr .inter_spacer_v {
	height: 20px;
}

/*Profile*/
.dynamic-page-title{	
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
}
.dynamic-page-description{	
	font-size: 12px;
	text-align: justify;
	padding: 5px;
}
.highlight-text-blue{
	color: #31CBF7;
	font-size: 13px;	
}
.required{
	color: #dd0000;	
}
.div-header{
	background: #33CAF5;
	color: #fff;
}
.th-header{
	font-size: 13px;
	font-weight: bold;	
	color: #fff;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	text-align: center;
}
.td-row{
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-align: center;
}
.field-value-select{
	width: 90%;	
}
.field-value-select option{
	width: 100%;	
}
.unsorted-list{
	list-style: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
.unsorted-list li{
	float: left;
	width:33%;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #F2A323;
	height: 30px;
	vertical-align: middle;
}
.link-back{
	background: url('img/back.png') no-repeat;
	display: block;
	width: 32px;
	margin-right: 20px;
}
.action-select{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 150px;
}
.action-select li{	
	height: 24px;	
	text-align: left;
}
.action-select li a{
	font-size: 12px;
	color: #D3E0E9;
	text-decoration: none;
}
.action-select li a:hover{
	font-size: 12px;
	color: #D3E0E9;
	text-decoration: underline;
}
.field-select{
	width: 200px;
}
.field-select option{
	width: 250px;	
}

.adminLogo { background:url(../../images/Wealthmash-logo.png) no-repeat 50% 50%; display:block; text-indent:-90000px; height:35px; width:230px;	 margin:0 auto; }

.tableList {   margin:0 auto 0 10px; }
.tableList th { font-weight:normal; font-size:12px;}
.tableList .heading th {background:#D0D0CF; padding:5px 0; font-size:12px;}
.tr-odd  {background:#F2FFE6; }
.tr-even { background:#ffffff; }

.leftPnl { padding:20px 0 0 20px;}

.login_button {}

.clear { clear:both; display:block; height:1px;}
.rit, .rit.action-input { float:right; display:inline;}
.rit.action-input { margin:0; margin-bottom:10px;}