		/* A few IE bug fixes */
				
		#theMenu { margin: 10px 0; }
		
		/* Some list and link styling */
		
		
		/* Header links styling */
		h3.head a { 
		color: #fff;
		display:block; 
		font-size:12px;
		background:url(../images/down.png) no-repeat; 
		background-color:#a35400;
		background-position: 98% 50%;
		padding:5px;
		width:450px;
		text-decoration:none;
	
		}
		h3.head a:hover { 
		color: #fff;
		background: #ff8400 url(../images/down.png) no-repeat; 
		background-position: 98% 50%;
		padding:5px;
		text-decoration:none;
    	}
		h3.selected a { 
		background: #cf8c45 url(../images/up.png) no-repeat; 
		background-position:98% 50%;
		color: #fff;
		
		
		}
		h3.selected a:hover { 
		background: #ffaf58 url(../images/up.png) no-repeat; 
		background-position:98% 50%;
		color: #fff;
		}
